﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id=""></div>
<script>
    // Chọn phần tử có ID là "danhSachSanPham"
    const danhSachSanPhamElement = document.getElementById('danhSachSanPham');
    // Hàm để tạo phần tử sản phẩm và thêm vào danh sách
    function createProductCard(product) {
        const productCardElement = document.createElement('div');
        productCardElement.classList.add('col');
        // Tạo phần tử card
        productCardElement.innerHTML = `
            <div class="card">
                <img src="https://picsum.photos/id/684/600/400" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">${product.name}</h5>
                <p class="card-text">${product.description}</p>
                <p class="card-text">Giá: ${product.price}</p>
                <a href="#" class="btn btn-primary">Mua Ngay</a>
            </div>
            </div>
            `;
        return productCardElement;
    }
    // Fetch dữ liệu từ API và xử lý
    fetch('https://localhost:7271/api/products')
        .then(response => response.json())
        .then(products => {
            // Xóa nội dung cũ trong danhSachSanPhamElement
            danhSachSanPhamElement.innerHTML = '';
            // Duyệt qua danh sách sản phẩm và thêm vào danhSachSanPhamElement
            products.forEach(product => {
                const productCardElement = createProductCard(product);
                danhSachSanPhamElement.appendChild(productCardElement);
            });
        })
        .catch(error => console.error('Error:', error));
    // Thay {id} bằng ID cụ thể của sản phẩm
    const productId = 1;
    fetch(`https://localhost:7271/api/products/${productId}`)
        .then(response => response.json())
        .then(product => {
            // Xử lý thông tin chi tiết sản phẩm
            console.log(product);
        })
        .catch(error => console.error('Error:', error));
    // Thông tin sản phẩm mới cần tạo
    const newProduct = {
        name: 'New Product',
        price: 100,
        description: 'A new product',
        // Thêm các thông tin khác
    };
    fetch('https://localhost:7271/api/products', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(newProduct),
    })
        .then(response => response.json())
        .then(createdProduct => {
            // Xử lý thông tin sản phẩm đã tạo
            console.log(createdProduct);
        })
        .catch(error => console.error('Error:', error));
    // Thay {id} và cập nhật thông tin sản phẩm
    const productIdToUpdate = 1;
    const updatedProduct = {
        id: productIdToUpdate,
        name: 'Updated Product',
        price: 150,
        description: 'An updated product',
        // Thêm các thông tin khác
    };
    fetch(`https://localhost:7271/api/products/${productIdToUpdate}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(updatedProduct),
    })
        .then(response => {
            if (response.status === 204) {
                console.log('Product updated successfully.');
            } else {
                console.error('Failed to update product.');
            })
        .catch(error => console.error('Error:', error));
    // Thay {id} bằng ID cụ thể của sản phẩm cần xóa
    const productIdToDelete = 1;
    fetch(`https://localhost:7271/api/products/${productIdToDelete}`, {
        method: 'DELETE',
    })
        .then(response => {
            if (response.status === 204) {
                console.log('Product deleted successfully.');
            } else {
                console.error('Failed to delete product.');
            }
        })
        .catch(error => console.error('Error:', error));
</script>
